<aside id="sidebar">
  <hr/>
  <menu type="toolbar">
    <li><a href="/">Home</a></li>
    <li><a href="https://demo.bluelatex.org/">Try out the Demo!</a></li>
    <li><a href="/features/">Features and Advantages</a></li>
    <li><a href="/download/">Download \BlueLaTeX</a></li>
    <li><a href="/installation/">Install \BlueLaTeX</a></li>
    <li><a href="/configuration/">Configure \BlueLaTeX</a></li>
    <li><a href="/running/">Run \BlueLaTeX</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/roadmap/">Roadmap</a></li>
    <li><a href="/api/">Server API</a></li>
    <li><a href="/developers/">Developer Corner</a></li>
    <li><a href="/community/">Community & Contributions</a></li>
  </menu>
  <hr/>
  <a href="https://github.com/gnieh/bluelatex/zipball/master" class="button">
    <small>Download master as</small>
    .zip file
  </a>
  <a href="https://github.com/gnieh/bluelatex/tarball/master" class="button">
    <small>Download master as</small>
    .tar.gz file
  </a>
</aside>


